.add-new-personal {
    position: relative;
    width: var(--body-width);
    height: 100%;
    top: calc(var(--header-height) + 1rem);
    left: var(--menu-left-width);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.add-new-personal-title {
    font-weight: 600;
    font-size: 1.6rem;
}

.basic-info {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    padding: 0px 4rem;
    margin-top: 3.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fullname,
.username,
.pass {
    display: flex;
    flex-direction: column;
}

.text-field {
    margin-bottom: 0.4rem;
}

.jss51 {
    background: #FFFFFF;
    border: 0.9px solid gray;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    color: #000000;
}

.jss53 {
    box-sizing: border-box;
    width: 200px;
    height: 28px;
}

.contract-info {
    position: absolute;
    top: 9rem;
    left: 0px;
    width: 100%;
    padding: 0px 4rem;
    margin-top: 3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contract-info-title {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}

.contract-info-child {
    width: inherit;
    display: flex;
    justify-content: space-between;
}

.contract-info-left,
.contract-info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.type-of-contract {
    display: flex;
    flex-direction: column;
}

.contract-term {
    display: flex;
    flex-direction: column;
}

.contract-signing-date {
    display: flex;
    flex-direction: column;
}

.contract-expiration-date {
    display: flex;
    flex-direction: column;
}

.selContract {
    box-sizing: border-box;
    border: 0.9px solid gray;
    border-radius: 5px;
    padding-left: 10px;
    font-weight: 400;
    width: 197px;
    height: 30px;
    display: block;
    outline: 0;
    margin-top: 5px;
}

.jss55 {
    box-sizing: border-box;
    border: 0.9px solid gray;
    border-radius: 5px;
    font-weight: 400;
    width: 197px;
    height: 30px;
    display: block;
    margin-top: 5px;
    padding-left: 10px;
}

.personal-info {
    position: absolute;
    top: 24rem;
    left: 0px;
    width: 100%;
    padding: 0px 4rem;
    margin-top: 3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personal-info-title {
    display: block;
    width: inherit;
    text-align: center;
}

.personal-info-child {
    width: inherit;
    display: flex;
    justify-content: space-between;
}

.endPage {
    position: absolute;
    width: inherit;
    height: 4rem;
    top: 44rem;
    left: 0px;
    padding: 0px 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.save {
    width: 5rem;
    height: 2rem;
    margin-left: 1rem;
    border: 1px solid #9333EA;
    background-color: #9333EA;
    color: #FFFFFF;
    border-radius: 5px;
}

.cancel {
    width: 5rem;
    height: 2rem;
    border: 1px solid #9333EA;
    background-color: #9333EA;
    border-radius: 5px;
    color: #FFFFFF;
}

.save:hover,
.cancel:hover {
    opacity: 0.88;
}