.edit-personal {
    position: relative;
    width: calc(var(--body-width) - 2vw);
    height: 100%;
    top: calc(var(--header-height) + 1rem);
    left: var(--menu-left-width);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.edit-personal-title {
    font-weight: 600;
    font-size: 1.6rem;
}

.basic-info {
    position: absolute;
    top: 30px;
    left: 1.8rem;
    width: calc(var(--body-width) - 4rem);
    padding: 1rem 4rem 1rem;
    margin-top: 3.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.fullname,
.username,
.pass {
    display: flex;
    flex-direction: column;
}

.text-field {
    margin-bottom: 0.4rem;
}

.jss51 {
    background: #FFFFFF;
    border: 0.9px solid gray;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    color: #000000;
}

.jss53 {
    box-sizing: border-box;
    width: 200px;
    height: 28px;
}

.contract-info {
    position: absolute;
    top: 9rem;
    left: 1.8rem;
    width: calc(var(--body-width) - 4rem);
    padding: 1rem 4rem;
    margin-top: 3.4rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.contract-info-title {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}

.contract-info-child {
    display: flex;
    justify-content: space-between;
}

.contract-info-left,
.contract-info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.type-of-contract {
    display: flex;
    flex-direction: column;
}

.contract-term {
    display: flex;
    flex-direction: column;
}

.contract-signing-date {
    display: flex;
    flex-direction: column;
}

.contract-expiration-date {
    display: flex;
    flex-direction: column;
}

.selContract {
    box-sizing: border-box;
    border: 0.9px solid gray;
    border-radius: 5px;
    padding-left: 10px;
    font-weight: 400;
    width: 197px;
    height: 30px;
    display: block;
    outline: 0;
    margin-top: 5px;
}

.jss55 {
    box-sizing: border-box;
    border: 0.9px solid gray;
    border-radius: 5px;
    font-weight: 400;
    width: 197px;
    height: 30px;
    display: block;
    margin-top: 5px;
    padding-left: 10px;
}

.personal-info {
    position: absolute;
    top: 25rem;
    left: 1.8rem;
    width: calc(var(--body-width) - 4rem);
    padding: 1rem 4rem;
    margin-top: 3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.personal-info-title {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}

.personal-info-child {
    display: flex;
    justify-content: space-between;
}

.endPage {
    position: absolute;
    width: calc(var(--body-width) - 4rem);
    height: 4rem;
    top: 47.4rem;
    left: 1.8rem;
    padding: 1rem 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.save {
    width: 5rem;
    height: 2rem;
    margin-left: 1rem;
    border: 1px solid #9333EA;
    background-color: #9333EA;
    color: #FFFFFF;
    border-radius: 5px;
}

.cancel {
    width: 5rem;
    height: 2rem;
    border: 1px solid #9333EA;
    background-color: #9333EA;
    border-radius: 5px;
    color: #FFFFFF;
}

.save:hover,
.cancel:hover {
    opacity: 0.88;
}