.sub-menu {
  position: relative;
  width: var(--body-width);
  top: calc(var(--header-height) + 1rem);
  left: var(--menu-left-width);

  background: #FFFFFF;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.tab-menu {
  padding-left: 20px;
  padding-right: 100px;
  
}

.title1 {
  left: 40px;
}

.title2 {
  left: 80px;
}

.jss4 {
  box-sizing: border-box;
  position: absolute;
  width: 560px;
  height: 656px;
  left: 14.8rem;
  top: 5rem;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.jss7 {
  position: absolute;
  width: 192px;
  height: 46px;
  left: 30px;
  top: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: gray;
}

.jss10 {
  background: #FFFFFF;
  border: 0.9px solid gray;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}

.rectangle-request {
  box-sizing: border-box;
  position: absolute;
  width: 497px;
  height: 30px;
  left: 30px;
  top: 54px;

  padding-left: 10px;
}

.rectangle1 {
  top: 130px;
}

.jss8 {
  margin-top: 80px;
}

.jss11 {
  box-sizing: border-box;
  position: absolute;
  width: 497px;
  left: 30px;
  top: 190px;
}

.jss12 {
  margin-top: 300px;
}

.rectangle2 {
  box-sizing: border-box;
  position: absolute;
  width: 497px;
  height: 30px;
  left: 30px;
  top: 350px;  
}

.jss13 {
  margin-top: 380px;
}

.calendar {
  position: absolute;
  width: 497px;
  top: 370px;
  left: 30px;
}

.jss14 {
  margin-top: 480px;
}

.starttime {
  width: 138px;
  top: 426px;
  left: 30px;
}

.jss15 {
  margin-top: 480px;
  margin-left: 270px;
}

.endtime{
  left: 162px;
}

.btn-Sent {
  position: absolute;
  width: 130px;
  height: 45px;
  left: 400px;
  top: 450px;
}

.jss17 {
  height: 680px;
}

.datefrom {
  top: 420px;

  font-size: 14px;
}

.calendarfrom {
  position: absolute;
  width: 160px;
  top: 400px;
  left: 30px;
}

.dateto{
  left: 300px;
}

.calendarto {
  left: 140px;
}

.timeleavefrom {
  top: 510px;
}

.timeleaveto {
  left: 300px;
}

.texttime {
  color: #9333EA;
}

.morning {
  position: absolute;
  width: 130px;
  height: 45px;
  left: 80px;
  top: 560px;
  border-radius: 5px;
  font-size: 18px;
 align-items: center;
  text-align: center;
  color: '#FFFFFF';
  border: 0.9px solid gray;
}

.morning:hover {
  background-color: #9333EA;
  opacity: 0.6;
}

.morning::after {
  background-color: #9333EA;
  opacity: 1;
}

.afternoon {
  position: absolute;
  left: 360px;
}

.jss16 {
  top: 520px;
}



