.body-component-browse-menus {
    position: relative;
    width: calc(var(--body-width));
    height: 100%;
    top: calc(var(--header-height) + 1rem);
    left: var(--menu-left-width);
    padding: 1rem 2rem;
}

.header-component-browse-menus {
    position: absolute;
    top: 1rem;
    left: 2rem;
}

.unprocessed-form-leave {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    border-radius: 10px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.unprocessed-form-leave-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.8rem 1rem 1rem 1rem;
}

.unprocessed-form-leave-header-item-fullName,
.unprocessed-form-leave-body-item-fullName {
    width: 4rem;
    text-align: center;
}

.unprocessed-form-leave-header-item-time,
.unprocessed-form-leave-body-item-time {
    width: 5rem;
    text-align: center;
}

.unprocessed-form-leave-header-item-reason,
.unprocessed-form-leave-body-item-reason {
    width: 5rem;
    text-align: center;
}

.unprocessed-form-leave-header-item-department,
.unprocessed-form-leave-body-item-department {
    width: 6rem;
    text-align: center;
}

.unprocessed-form-leave-header-item-checked {
    width: 5rem;
    text-align: center;
}

.unprocessed-form-leave-body-item-checked {
    width: 5rem;
    text-align: center;
}

.unprocessed-form-leave-header-item-unchecked,
.unprocessed-form-leave-body-item-unchecked {
    width: 5rem;
    text-align: center;
}

.unprocessed-form-leave-header-item-date,
.unprocessed-form-leave-body-item-date {
    width: 5rem;
    text-align: center;
}

.unprocessed-form-leave-header-item-icon,
.unprocessed-form-leave-body-item-icon {
    width: 3rem;
    text-align: center;
}



.unprocessed-form-leave-body {
    display: flex;
    flex-direction: column;
    margin: 1.8rem 0rem;
}

.unprocessed-form-leave-body-item {
    box-sizing: border-box;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.unprocessed-form-leave-body-item:hover {
    cursor: pointer;
    background-color: #cffafe;
}

.processed-form-leave {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    border-radius: 10px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.processed-form-leave-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.8rem 1rem 1rem 1rem;
}

.processed-form-leave-header-item-fullName,
.processed-form-leave-body-item-fullName {
    width: 4rem;
    text-align: center;
}

.processed-form-leave-header-item-time,
.processed-form-leave-body-item-time {
    width: 5rem;
    text-align: center;
}

.processed-form-leave-header-item-reason,
.processed-form-leave-body-item-reason {
    width: 5rem;
    text-align: center;
}

.processed-form-leave-header-item-department,
.processed-form-leave-body-item-department {
    width: 6rem;
    text-align: center;
}

.processed-form-leave-header-item-date,
.processed-form-leave-body-item-date {
    width: 5rem;
    text-align: center;
}

.processed-form-leave-header-item-checked,
.processed-form-leave-body-item-checked {
    width: 4rem;
    text-align: center;
}



.processed-form-leave-body {
    display: flex;
    flex-direction: column;
    margin: 1.8rem 0rem;
}

.processed-form-leave-body-item {
    box-sizing: border-box;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.processed-form-leave-body-item:hover {
    cursor: pointer;
    background-color: #cffafe;
    border-left: 2px solid #22d3ee;
}

.check-box {
    width: 1.4rem;
    height: 1.4rem;
}