.list-timesheet-body-component {
    position: relative;
    width: calc(var(--body-width));
    top: calc(var(--header-height) + 1rem);
    left: var(--menu-left-width);
}

.list-timesheet-body-header {
    position: absolute;
    top: 1rem;
    height: 2rem;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.4rem;
}

.list-timesheet-body-header-name {
    font-weight: bold;
    font-size: 1.4rem;
}

.list-timesheet-body-header-right {
    display: flex;
    align-items: center;
}

.list-timesheet-body-header-month-year{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.time{
    text-align: center;
    margin: 0 3.2px;
}

.thead {
    position: absolute;
    top: 4rem;
    left: 0rem;
    padding: 0px 0.8rem;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-timesheet-body-search {
    width: calc(0.52  * var(--body-width));
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-box {
    display: flex;
    align-items: baseline;
}


.placeholder-text {
    width: 8rem;
}

.thread-span {
    width: calc(0.48 * var(--body-width));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.thead-text-child {
    width: 100%;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 2;
    height: 40px;
    display: -webkit-box;
    text-align: center;
    -webkit-box-orient: vertical;
}

.list-timesheet-body-container {
    position: absolute;
    top: 8rem;
    left: 0rem;
    width: inherit;
}

.list-timesheet-body-text-child {
    width: 100%;
    max-width: 100px;
    overflow: hidden;
    display: -webkit-box;
    text-align: center;
    -webkit-box-orient: vertical;
}

.list-timesheet-body-item {
    padding: 0px 0.8rem;
    margin: 1rem 0rem;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}