.body-component {
    position: relative;
    width: var(--body-width);
    top: calc(var(--header-height) + 1rem);
    left: var(--menu-left-width);
}

.body-header {
    position: absolute;
    top: 1rem;
    height: 2rem;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.4rem;
}

.body-header-right {
    display: flex;
    align-items: center;
}

.body-header-month-year{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.time{
    text-align: center;
    margin: 0 2px;
}

.btn-file-export{
    padding: 4px 6px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: aqua;
}

.thead {
    position: absolute;
    top: 4rem;
    left: 0rem;
    padding: 0px 0.8rem;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-search {
    width: calc(0.8  * var(--body-width));
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-box {
    display: flex;
    align-items: baseline;
}


.placeholder-text {
    width: 8rem;
}

.thread-span {
    width: calc(0.2 * var(--body-width));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.thead-text-child {
    width: 100%;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 2;
    height: 40px;
    display: -webkit-box;
    text-align: center;
    -webkit-box-orient: vertical;

}

.veiw {
    position: absolute;
    top: 4.8rem;
    left: -0.4rem;
   
}

.btn-add-personal {
    width: 10rem;
    height: 2rem;
    left: 0px;
    top: 0px;
    display: block;
    background: #9333EA;
    opacity: 0.8;
    border: 0.9px solid #9333EA;
    border-radius: 8px;
    
    font-size: 20px;
   
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.btn-add-personal:hover {
    cursor: pointer;
    opacity: 1;
}
