.menu-left {
    position: fixed;
    width: var(--menu-left-width); 
    height: 100%;
    top: var(--header-height);
}

.menu-name {
    margin-left: 14px;
}

.text {
    margin: 0.8rem 0.6rem;
    font-size: 1.2rem;
    font-style: italic;
}

.menu-item{
    display: flex;
    align-items: center;
    position: relative;
}

.composition-button {
    margin-left: 40px;
}