.personal-inf {
    /* position: relative;
    width: 100%;
    height: 100%;
    left: 18rem;
    top: 6rem; */

    position: relative;
    width: calc(var(--body-width) - 4rem);
    top: calc(var(--header-height) + 4rem);
    left: var(--menu-left-width);
}

.personal-inf-name{
    margin-left: 4rem;
    font-size: 24px;

}
.body-personal-inf-two {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 2.8rem;

    padding: 18px 10px;
}

.body-personal-inf-left {
    width: 16rem;
    height: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px gray;
}

.body-personal-inf-username-img {
    width: 10rem;
    height: 10rem;
}

.personal-inf-left-username {
    margin-top: 2rem;
}

.personal-inf-left-password {
    margin-top: 4px;
}


.details-name {
    position: absolute;
    font-weight: 600;
    left: 410px;
}

.personal-inf-right {
    margin-left: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px gray;
    width: 40rem;
    height: 20rem;
}

.body-personal-inf-right {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.personal-inf-right-left {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.personal-inf-right-right-id, 
.personal-inf-right-right-MAC,
.personal-inf-right-right-birth,
.personal-inf-right-right-room {
    margin-top: 0.8rem;
}

.personal-inf-right-right {
    margin-left: 22rem;
    margin-top: -16.7rem;
}

.personal-inf-right-right-work {
    margin-top: 0.8rem;
}


.contract-term, .contract-expiration-date {
    margin-top: 25px;
}
.details-profile {
    position: absolute;
    font-weight: 600;
    top: 190px;
    left: 410px;
}
.personal-inf-bottom{
    margin-left: 20rem;
    padding-top: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px gray;
    width: 40rem;
    height: 18rem;
}

.personal-inf-name {
    font-size: 24px;
    margin-left: 1.8rem;
}

.body-personal-inf-bottom {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px 10px;
    margin-top: 2rem;
}

.personal-inf-bottom-left {
    margin-left: 2rem;

}

.personal-inf-bottom-right {
    margin-left: 4rem;
}

.department, .working-mode, .citizen-ID, .birth {
    margin-top: 25px;
 }
.personal-inf-right-right-contract-duration,
.personal-inf-right-right-contract-end-date {
    margin-top: 0.8rem;
}

.personal-inf-bottom-name {
    left: 40rem;
    
}

.btn-two {
    margin-top: 2rem;
    padding-left: 30rem;
    background: #FFFFFF;
    border-top: 0.2px solid gray;
    width: auto;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.btn-exit,
.btn-add {
    width: 8rem;
    height: 2rem;
    left: 0px;
    top: 0px;
    display: block;
    background: #9333EA;
    opacity: 0.8;
    border: 0.9px solid #9333EA;
    border-radius: 8px;  
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.btn-exit:hover, .btn-add:hover {
    cursor: pointer;
    opacity: 1;
}