.Personnel {
    
}

.PersonnelHeader {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px gray;
}

.abc {
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  display: flex;
  box-sizing: inherit;
  align-items: center;
}

.def {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.InfoCompany {
  height: 70px;
  margin-top: 3px;
  flex-grow: 0;
  max-width: 66.666667%;
  flex-basis: 66.666667%;
}

.jss6 {
  color: #848484;
  margin-left: 60px;
  margin-top: -55px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  align-items: center;
}

.Info {
  margin: 0;
  flex-grow: 0;
  max-width: 33.333333%;
  flex-basis: 33.333333%;
  box-sizing: border-box;
  align-items: center;
}

.aaa {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none !important;
  box-sizing: inherit;
}

.ring {
  border: #FFFFFF;
  background-color: #FFFFFF;
  margin-top: 20px;
}

.icon0 {
  width: 25px;
  height: 23px;
}

.avatar {
  border: #FFFFFF;
  background-color: #FFFFFF;
  margin-top: 10px;
}

.avt {
  width: 46px;
  height: 44px;
  margin-left: 8px;

}

.hello {
  font-family: 'Inter';
  font-size: 20px;
  vertical-align: super;
}

.Menu {
  box-sizing: content-box;
  width: 260px;
  height: 765px;
  padding-left: 0px;

  border-right: 2px solid #848484;
  background-color: #FFFFFF;
}

.option1 {
  position: absolute;
  width: 255px;
  height: 50px;
  top: 80px;
  border: #FFFFFF;
  background-color: #FFFFFF;
  text-align: left;
}    

.icon {
  width: 36px;
  height: 34px;
  margin-right: 18px;
}

.jss7 {
  position: absolute;
  padding-top: 10px;
  height: 40px;
  width: 100px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000000;
}

.option2 {
  position: absolute;
  width: 258px;
  height: 50px;
  top: 135px;
  border: #FFFFFF;
  background-color: #FFFFFF;
  text-align: left;
  border-bottom: 1px solid #848484;
}

.text {
  position: absolute;
  height: 30px;
  top: 195px;
  margin-left: 0px;
  font-size: 17px;
  font-style: italic;
}

.option3 {
  position: absolute;
  width: 255px;
  height: 50px;
  top: 225px;
  border: #FFFFFF;
  background-color: #FFFFFF;
  text-align: left;
}

.option4 {
  position: absolute;
  width: 255px;
  height: 50px;
  top: 280px;
  border: #FFFFFF;
  background-color: #FFFFFF;
  text-align: left;
}

.jss11 {
  position: absolute;
  align-items: center;
  width: 1400px;
  left: 302px;
  top: 60px;
  display: flex;
  
}

.jss13 {
  font-family: 'Inter';
  font-size: 28px;
}

.jss9 {
  position: absolute;
  margin-left: 920px;
  justify-content: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  
}

.jss26 {
  
  border: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.jss27 {
  color: rgba(0, 0, 0, 0.87);
  padding: 0;
  font-size: 18px;
  min-width: 0;
  box-sizing: border-box;
  min-height: 36px;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 50%;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.jss28 {
  width: 40px;
  height: 40px;
}

.jss29 {
  background: none;
  box-shadow: none;
}

.jss30 {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  box-sizing: inherit;
  background-repeat: no-repeat;
}

.jss31 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
  vertical-align: middle;
  box-sizing: inherit;
}

.jss32 {

  display: block;
  box-sizing: inherit;
  background-repeat: no-repeat;
}

.jss33 {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01071em;
}

.jss34 {
  font-size: 20px;
  margin-left: 3px;
  margin-right: 3px;
}

.jss35 {
  border: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.jss14 {
  width: 200px;
  height: 50px;
  border: 1px solid #9333EA;
  background-color: #FFFFFF;
  margin-left: 940px;
}

.icon5 {
  width: 35px;
  height: 34px;
  margin-right: 18px;
  vertical-align: sub;
}

.add {
  font-family: 'Inter';
  font-size: 20px;
  color: #9333EA;
  vertical-align: super;
}

.jss12 {
  position: absolute;
  width: 1380px;
  height: 610px;
  left: 290px;
  top: 170px;
  font-family: 'Inter';
  font-size: 20px;
}

.jss15 {
  display: table-header-group;
  background-repeat: no-repeat;
  box-sizing: inherit;
  vertical-align: middle;
  border-color: inherit;
}

.jss16 {
  color: inherit;
  height: 48px;
  display: table-row;
  outline: none;
  vertical-align: middle;
}

.jss17 {
  display: table-cell;
  text-align: left;
  vertical-align: inherit;
}

.jss18 {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}

.jss19 {
  width: 100%;
  color: #A4A4A4;
  position: relative;
  min-width: 120px;
  font-family: 'Inter';
  font-size: 20px;
  margin-left: 0;
  border-bottom: solid 1px #fff;
}

.jss21 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  padding: 2px 8px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.css-control {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 38px;
  position: relative;
  box-sizing: border-box;
  border-radius: 0px !important;
  outline: 0px !important;
  border-width: 0px 0px 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: rgba(0, 0, 0, 0.54) !important;
  padding-left: 0px !important;
  overflow: inherit !important;
}


.jss10 {
  background: #FFFFFF;
  appearance: textfield;
  font-family: 'Inter';
  font-style: normal;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  border: none;
  outline: none;
  padding: 0;
  width: 160px;
}

.jss22 {
  -webkit-box-align: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
}

.jss23 {
  align-self: stretch;
  background-color: rgb(204, 204, 204);
  margin-bottom: 8px;
  margin-top: 8px;
  width: 1px;
  box-sizing: border-box;
}

.jss24 {
  border: #FFFFFF;
  background-color: #FFFFFF;
  text-align: left;
}

.icon6 {
  width: 30px;
  height: 30px;
}

.jss25 {
  padding: 0px 30px!important;
}