@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 16px;
  }
  :root {
    --menu-left-width: 20vw;
    --header-height: 70px;
    --body-margin-top: calc(100% - var(--header-height));
    --body-width: calc(100vw - var(--menu-left-width));
  }